.fig {
    border: 1px solid #aaa;
    background-color: #ddd;
}

.grupo {
    fill: #00000044;
    stroke: #00000099;
}

.ejes {
    font-size : 20px;
}

.ejes line {
    stroke-width: 1;
    stroke: #00000044;
}

.dato {
    font-size: 12px !important;
    color: gray;
}

.seleccionado {
    font-size: 18px !important;
    color: gray;
}

/* para ocultar los puntos del scatter plot*/
.oculto {
    display: none;
}

.green {
    color: green;
}

.gray {
    color: gray;
}

/*CSS para los buques del scatter plot*/
.buque {
    font-size: 12px;
    color:white;
    background-color: white;
    text-shadow: 1px 1px white;
    cursor:pointer;
    }

.cic {
    background-color: orange;
    text-shadow: 1px 1px orange;
}

.vop {
    background-color: hotpix;
    text-shadow: 1px 1px hotpix;
}

.ica {
    background-color: magenta;
    text-shadow: 1px 1px magenta;
}

.tng {
    background-color: yellow;
    text-shadow: 1px 1px yellow;
}

.ssa {
    background-color:brown;
    text-shadow: 1px 1px brown;
}

.sip {
    background-color:mediumseagreen;
    text-shadow: 1px 1px mediumseagreen;
}

.sep {
    background-color:mediumseagreen;
    text-shadow: 1px 1px mediumseagreen;
}

.exc {
    background-color:rebeccapurple;
    text-shadow: 1px 1px rebeccapurple;
}

.pem {
    background-color: olive;
    text-shadow: 1px 1px olive;
}

.pet {
    background-color: royalblue;
    text-shadow: 1px 1px royalblue;
}

.ope {
    background-color: teal;
    text-shadow: 1px 1px teal;
}

.car {
    background-color: chartreuse;
    text-shadow: 1px 1px chartreuse;
}

.esj {
    background-color:chocolate;
    text-shadow: 1px 1px chocolate;
}

.tce {
    background-color:darkcyan;
    text-shadow: 1px 1px darkcyan;
}

.cpv {
    background-color:forestgreen;
    text-shadow: 1px 1px forestgreen;
}

.tmv {
    background-color:firebrick;
    text-shadow: 1px 1px firebrick;
}

/* CSS DEL HISTOGRAMA */
.figbarras {
    background-color: #ddd;
  }
  
  .textobarras {
    font-size: 42px;
    font-weight: bold;
    font-family: Impact;
    fill: #457b9d;
  }
  
  .grupobarras {
    fill: #ffffff44;
    stroke: #00000099;
  }
  
  .ejesbarras {
    font-size: 16px;
    font-family: "Fira Code";
  }
  
  .ejesbarras line {
    stroke-width: 1;
    stroke: #33333344;
    stroke-dasharray: 4 2;
  }
  
  .labels {
    font-size: 20px;
    font-family: "Fira Code";
  }
  